<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Business Search</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= form_tag(search_path, :method => "get", id: "search-form") do %>
          <%= label_tag 'name', 'Name' %>
          <%= text_field_tag :search_name, params[:search_name], placeholder: "Search Name" %>
          <%= label_tag 'name', 'Location' %>
          <%= text_field_tag :search_location, params[:search_location], placeholder: "Search location" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>
    </div>
    <br><br>
    <% unless @businesses.blank?%>
      <% @businesses.each do |business| %>
        <div class="row">
          <div class="col-sm-12">
            <%= link_to business.name, business_path(business) %>
          </div>
        </div>
      <% end %>  
    <% end %>  
  </div>
</div>
